extends layout

block content
    //- form
    .col-md-12
        .card
            .header
                h4.title ENTER NEW LOCK COMMAND
            .content
                form(action="locks", method="POST")
                    .row(style="padding:10px")
                        .col-md-4
                            .form-group
                                label Room
                                select#inputState.form-control(name="room")
                                    option(value="12",selected='') Room12
                                    option(value="13") Room13
                                    option(value="15") Room15
                                    option(value="14") Room14
                        .col-md-4
                            .form-group
                                label Classification
                                select#inputState.form-control(name="case")
                                    option(value="3",selected='') Gun fire
                                    option(value="8") siren
                                    option(value="2") Crowd
                                    option(value="9") Music
                        .col-md-4
                            .form-group
                                label Action
                                select#inputState.form-control(name="action")
                                    option(value="open",selected='') Keep open
                                    option(value="lock") Lock

                        input.btn.btn-info.btn-fill.pull-right(type="submit", value="Save")
    //- Table 
    .col-md-12
        .card
            .header
                h4.title ROM LOCK INFORMATION
                p.category Locked rooms
            .content.table-responsive.table-full-width
                table.table.table-hover.table-striped
                    thead
                        th Room
                        th Status
                        th Action
                    tbody
                        each val in data
                            tr
                                td=val.room
                                td=val.action
                                td
                                    .row 
                                        .col-md-1
                                            form(action='locks/open', method="POST")
                                                input(type="hidden", name='room', value=val.room)
                                                input(type="hidden", name='action', value='open')
                                                if val.action == 'open'
                                                    input.btn.btn-sm.btn-success(type="submit", value="Open")
                                                else
                                                    input.btn.btn-sm.btn-success.btn-fill(type="submit", value="Open")
                                        .col-md-1
                                            form(action='locks/lock', method="POST")
                                                input(type="hidden", name='room', value=val.room)
                                                input(type="hidden", name='action', value='lock')
                                                if val.action == 'lock'
                                                    input.btn.btn-sm.btn-danger(type="submit", value="Lock")
                                                else
                                                    input.btn.btn-sm.btn-danger.btn-fill(type="submit", value="Lock")


